body
{
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    background: #FFFFFF;
}

h1, h2, h3, #afficher, label
{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

span
{
    font-weight: bold;
}

a
{
    text-decoration: none;
    color: black;
    font-size: 1em;
}

/*-----------------------------------------------------------------------------
                                     HEADER
-----------------------------------------------------------------------------*/
header
{
    height: 100px;
    margin-bottom: 40px;
}

/*-----------------------------------------------------------------------------
                                     NAV
-----------------------------------------------------------------------------*/

nav
{
    height: 100%;
}

ul {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    padding: 0;
}

li 
{
    display: flex;
    width: 50%;
    height: 50%;  
    margin-bottom: 10px;   
}

.nav_bas
{
    order: 2;
}

li > a
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
}

.nav_bas__a
{
    border-bottom: 3px solid #f2f2f2;
}

.nav_bas__a:hover
{
    color: #0065FC;
    border-color: #0065FC;
}

.a_inscription
{
    justify-content: flex-end;
    width: 80%;
    font-weight: bold;
    color: #0065FC;  
}

#logo
{
    margin-left: 10%;
}


/*-----------------------------------------------------------------------------
                                     RECHERCHE
-----------------------------------------------------------------------------*/
#conteneur_recherche{
    width: 90%;
    margin: auto;
}

h1
{
    font-size: 1.5em;
}

/*-----------------------------------------------------------------------------
                                     FORM
-----------------------------------------------------------------------------*/

.barre_recherche{
    display: flex;
    height: 50px;
    margin: 35px 0 35px 0;
}

/* Icone map-marker */
.barre_recherche label
{
    display: flex;
    background-color: #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius:  15px;
    width: 18%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

/* Zone de saisie */
.barre_recherche input{
    width: 64%;
    font-size: 1em;
    font-weight: bold;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    padding-left: 10px;
    border-left: none;
    border-right: none;
}

/* Bouton de recherche */
.barre_recherche button
{
    background-color: #0065FC;
    width: 18%;
    text-decoration: none;
    border-radius: 15px;
    color: white;
    border: none;
    font-size: 15px;
    margin-left: -15px;
}

/* Desasctivation du bouton de la version Desktop */
#bouton_texte
{
    display: none;
}

/*-----------------------------------------------------------------------------
                                     FILTRE
-----------------------------------------------------------------------------*/
.conteneur_filtre
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    margin-bottom: 20px;
}

.conteneur_filtre > h2
{
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 15px;
}

.conteneur_checkbox
{
    display: flex;
    flex-flow: row wrap;
}

/* Filter */
.div_filtre
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 50px;
    border: 3px solid #f2f2f2;   
    border-radius: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.div_filtre:hover
{
    background-color: #0065FC;
    color: white;
    border-color: #0065FC;
}

.div_filtre i {
    width: 25px;
    height: 25px;
    background-color: #DEEBFF;
    border-radius: 50%;
    color: #0065FC; 
    font-size: 1.5em;
    margin-right: 10px;
    margin-left: -15px;
    padding: 15px;    
}

.div_filtre label{
    padding-right: 15px;
    text-align: center;
}

.conteneur_checkbox input{
    appearance: none;
    text-align: center;
}

/*-----------------------------------------------------------------------------
                                     INFO
-----------------------------------------------------------------------------*/

.conteneur_info
{
    display: flex;
    margin-bottom: 30px;
}

.conteneur_info__p
{
    width: 90%;
    margin-top: 0;
}

.conteneur_info__i
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #f2f2f2;
    margin: 0 5px 0 0;
    font-size: 0.8em;
    color: #0065FC;  
}

/*-----------------------------------------------------------------------------
                                     POPULAIRES
-----------------------------------------------------------------------------*/

.conteneur_main{
    display: flex;
    flex-direction: column-reverse;
}

.conteneur_populaire{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.titre_populaire
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 4% 0 2% 0;
}

.titre_populaire > i
{
    font-size: 1.5em;
}

.populaire
{
    display: flex;
    background-color: white;
    border-radius: 20px;
    width: 90%;
    height: 140px;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.info_populaire
{
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
}

.info_populaire h3 {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info_populaire p {
    margin-top: 0;
}

.etoile_populaire
{
    font-size: 0.8em;
    display: flex;
}

.etoile_hauteur
{
    height: 100%;
}

.etoile_populaire > i
{
    align-self: flex-end;
}

.bleu
{
    color: #0065FC;
}

.gris
{
    color: #f2f2f2;
}

.img_populaire
{
    display: flex;
    justify-content: center;
    width: 40%;
    margin-right: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

.position_image
{
    width: 100%;
    align-self: center;
}

.position_image_populaire
{
    height: 120%;
    align-self: center;
}

/*-----------------------------------------------------------------------------
                                     HEBERGEMENTS
-----------------------------------------------------------------------------*/

.conteneur_hebergement
{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: center;
}

.conteneur_hebergement h2
{
    align-self: flex-start;
    padding-left: 5%;
}

.hebergements
{ 
    width: 90%;
    height: 220px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.img_hebergements
{
    display: flex;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

.info_hebergement
{
    padding-left: 5%;
}

.info_hebergement h3
{
    margin-top: 10px;
    margin-bottom: 5px;
}

.info_hebergement p
{
    margin-top: 0;
}

#afficher
{
    font-size: 1.2em;
    align-self: flex-start;
    padding-left: 5%;
    margin-top: 3%;
}

/*-----------------------------------------------------------------------------
                                     ACTIVITE
-----------------------------------------------------------------------------*/

.conteneur_activite
{
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 30px;
    align-items: center;
}

#titre_activite
{
    padding-left: 5%;
}

.activite
{    
    width: 90%;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.img_activite
{
    display: flex;
    justify-content: center;
    height: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    align-items: center;
}

.activite h3
{
    padding-left: 15px;
}


/*-----------------------------------------------------------------------------
                                 FOOTER
-----------------------------------------------------------------------------*/

footer
{
    background: #f2f2f2;
    padding: 20px 20px 20px 30px;
    font-size: 0.9em;
}

footer div
{
    margin-bottom: 35px;
}

footer a
{
    display: flex;
    margin-bottom: 15px;
}

/*===========================================================================================================================================================================================
=============================================================================================================================================================================================
                                                                            TABLETTE
=============================================================================================================================================================================================
===========================================================================================================================================================================================*/

@media only screen and (min-width: 600px)
{
    /*-----------------------------------------------------------------------------
                                     HEADER
    -----------------------------------------------------------------------------*/
    header
    {
        height: 120px;
        margin-bottom: 0px;       
    }

    /*-----------------------------------------------------------------------------
                                        NAV
    -----------------------------------------------------------------------------*/
    nav ul {
        flex-flow: row nowrap;
        margin-top: 0;
    }

    li 
    {
        width: 20%;
        height: 100%;
    }

    .nav_bas
    {
        order: 0;
    }

    .nav_bas__a
    {
        border-bottom: none;
        border-top: 3px solid transparent;
    }

    .a_inscription
    {
        justify-content: center;
    }

    #logo
    {
        align-self: center; 
        height: 50%;
    }

    .nav_img
    {
        width: 70%;
    }

    /*-----------------------------------------------------------------------------
                                        FORM
    -----------------------------------------------------------------------------*/
    .barre_recherche
    {
        width: 60%;
    }

    /*-----------------------------------------------------------------------------
                                     POPULAIRES
    -----------------------------------------------------------------------------*/
    .populaire
    {
        height: 200px;
        font-size: 1.3em;
    }

    .position_image
    {
        min-width: 100%;
        min-height: 100%;
    }

    .position_image_populaire
    {
        min-width: 100%;
    }

    /*-----------------------------------------------------------------------------
                                        HEBERGEMENTS
    -----------------------------------------------------------------------------*/
    .conteneur_hebergement
    {
        flex-flow: row wrap;
        margin: 0 2% 20px 2%;
        justify-content: space-around;
    }

    .conteneur_hebergement h2
    {
        padding-left: 0px;
        width: 95%;
    }

    .hebergements
    {
        width: 45%;
        height: 320px;
    }

    .info_hebergement
    {
        display: flex;
        flex-direction: column;
        font-size: 1.3em;
        height: 40%;
        justify-content: space-around;
    }

    .info_hebergement h3
    {
        margin-top: 0;
        margin-bottom: 0;
    }

    .info_hebergement p
    {
        margin-bottom: 0;
    }

    #afficher
    {
        width: 90%;
    }
 
    /*-----------------------------------------------------------------------------
                                     ACTIVITE
    -----------------------------------------------------------------------------*/
    .conteneur_activite
    {
        width: 95%;
        margin: 0 auto;
        flex-flow: column wrap;
        margin-bottom: 50px;
        justify-content: space-between;
        height: 1200px;
    }

    .activite
    {
        width: 45%;
        height: 23%;
        margin-bottom: 1%;
    }

    .img_activite
    {
        height: 80%;
    }

    .activite h3
    {
        font-size: 1em;
    }

    .position_image_activite
    {
        height: 100%;
        width: auto;
        justify-self: center;
        align-self: center;
    }
    
    .a_img_taille_L
    {
        height: 45%;
    }

    .div_img_L
    {
        height: 90%;
    }

    .a_img_taille_M
    {
        height: 23%;
    }

    .div_img_M
    {
        height: 80%;
    }

    /*-----------------------------------------------------------------------------
                                 FOOTER
    -----------------------------------------------------------------------------*/
    footer
    {
        display: flex;
    }

    footer > div 
    {
        margin-left: 2%;
        width: 30%;
    }   
}

/*===========================================================================================================================================================================================
=============================================================================================================================================================================================
                                                                            DESKTOP
=============================================================================================================================================================================================
===========================================================================================================================================================================================*/
@media only screen and (min-width: 1025px)
{
    #conteneur_recherche
    {
        width: 95%;
        margin: auto;
    }

    /*-----------------------------------------------------------------------------
                                        NAV
    -----------------------------------------------------------------------------*/
    nav ul li 
    {
        width: 10%;
    }

    .nav_bas__a:hover
    {
        color: #0065FC;
        border-color: #0065FC;
    }

    #logo
    {
        margin-left: 3%;
    }
    /*-----------------------------------------------------------------------------
                                        FORM
    -----------------------------------------------------------------------------*/
    .barre_recherche
    {
        width: 27%;
    }
    
    .barre_recherche label
    {
        width: 17%;
    }
    
    .barre_recherche button
    {
        width: 30%;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        font-size: 1vw;
        font-weight: bold;
    }
       
    .barre_recherche input
    {
        width: 53%;
        font-size: 1vw;
    }
    
    #bouton_icone
    {
        display: none;
    }

    #bouton_texte
    {
        display: initial;
    }

    /*-----------------------------------------------------------------------------
                                        FILTRE
    -----------------------------------------------------------------------------*/
    .conteneur_filtre
    {
        flex-direction: row;
    }

    .conteneur_filtre > h2
    {
        margin-right: 40px;
        align-self: center;
    }

    .div_filtre
    {
        margin-right: 30px;
    }

    /*-----------------------------------------------------------------------------
                                        POPULAIRES
    -----------------------------------------------------------------------------*/
    .conteneur_main
    {
        flex-flow: row nowrap;
        width: 95%;
        margin: 0 auto 50px auto;
    }

    #section_populaire
    {
        width: 30%;
    }

    .conteneur_populaire
    {
        border-radius: 15px;
        padding: 0% 0px 0% 0px;
        height: 100%;
    }

    .titre_populaire
    {
        width: 82%;
        margin-top: 30px;
    }

    .populaire
    {
        width: 80%;
        height: 170px;
        margin-bottom: 9%;
    }
    
    .position_image_populaire
    {
        min-width: auto;
    }

    .info_populaire h3 {
        font-size: 1.2vw;
    }

    .info_populaire p {
        font-size: 1.1vw;
    }

    .etoile_populaire
    {
        font-size: 0.9em;
        margin-bottom: 5px;
    }

    /*-----------------------------------------------------------------------------
                                        HEBERGEMENTS
    -----------------------------------------------------------------------------*/

    .conteneur_hebergement
    {
        background-color: #f2f2f2;
        border-radius: 15px;
        justify-content: center;
        height: 100%;
        margin: 0;
    }

    #section_hebergement
    {
        width: 67%;
        margin-right: 3%;
    }

    .conteneur_hebergement h2
    {
        width: 90%;
        margin-top: 4%;
    }

    .hebergements
    {
        background-color: white;
        width: 27%;
        height: 250px;
        margin: 0px 2% 30px 2%;
    }

    .info_hebergement
    {
        font-size: 1vw;
    }

    .info_hebergement h3
    {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .info_hebergement p
    {
        margin-bottom: 10px;
    }

    #afficher
    {
        padding-left: 0;
        margin-bottom: 5%;
    }

    /*-----------------------------------------------------------------------------
                                     ACTIVITE
    -----------------------------------------------------------------------------*/
    .conteneur_activite
    {
        height: 600px;
    }

    #titre_activite
    {
        padding-left: 3%;
    }

    .activite
    {
        width: 23%;
        height: 40%;
    }

    .a_img_taille_L
    {
        height: 100%;
    }

    .a_img_taille_M
    {
        height: 52%;
    }

    /*-----------------------------------------------------------------------------
                                 FOOTER
    -----------------------------------------------------------------------------*/
    footer
    {
        font-size: 1em;
    }
}



@media only screen and (min-width: 1025px) and (max-width: 1400px)
{

    .div_filtre
    {
        margin-right: 15px;
    }

    .conteneur_main{
        display: flex;
        flex-direction: row;
        height: auto;
    }

    .conteneur_hebergement
    {
        display: flex;
        flex-flow: row wrap;
        background-color: #f2f2f2;
        border-radius: 15px;
        padding: 0% 1% 0% 1%;
        justify-content: center;
        height: 100%;
    }

    .hebergements
    {
        height: 170px;
    }

    .conteneur_populaire{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #f2f2f2;
        align-items: center;
        padding-bottom: 0px;
        margin: 0 auto 20px auto;
        height: 100%;
    }

    .populaire
    {
        height: 110px;
    }

    .titre_populaire
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        margin-bottom: 8px;
        margin-top: 0px;
    }
}
