@font-face {
    font-family: 'Raleway';
    src: url(fonts/Raleway/Raleway-VariableFont_wght.ttf),;
    font-weight: normal;
    font-style: normal;
}

body
{
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin: 0;
    background: #FFFFFF;
}

#bloc_page
{
    width: 100%;
}

#contenu{
    width: 90%;
    margin: auto;
}

/* HEADER */
header
{
    display: flex;
    flex-direction: column;
    height: 240px;
    margin-top: 10px;
    justify-items: center;
}

header img
{
    width: 150px;
}

a
{
    text-decoration: none;
    color: black;
    font-size: 2em;
}

#logo_inscription
{
    align-self: center;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}


#bouton_inscription a
{
    font-weight: bold;
    color: #0065FC;
}




/* ---------------
    Navigation
----------------*/
nav
{
    justify-content: flex-end;
}
nav ul
{
    height: 45%;
    padding-left: 0;
    list-style: none;
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    margin: auto;
    padding-bottom: 8%;
}

nav ul li
{
    width: 50%;
    text-align: center;
    align-content: center;
}

nav ul li a{
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    border-bottom: 5px solid #f2f2f2;
    text-align: center;
    align-self: center;
    justify-self: center;
}

nav ul li a:hover{
    color: #0065FC;
    border-bottom: 5px solid #0065FC;
}

/* RECHERCHE */
#recherche p
{
    font-size: 0.8em;
}

/* FORM */

.conteneur_recherche form{
    display: flex;
    height: 100px;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    font-size: 2em;
    margin-bottom: 20px;
}

.conteneur_recherche form button
{
    height: 100%;
}

.conteneur_recherche form label
{
    display: flex;
    background-color: #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius:  15px;
    width: 15%;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

.conteneur_recherche form button
{
    background-color: #0065FC;
    width: 15%;
    height: auto;
    text-decoration: none;
    border-radius: 15px;
    color: white;
    border: none;
    font-size: 35px;
}

.conteneur_recherche form input{
    width: 70%;
    height: 100%;
    font-size: 1.2em;
    border: 1px solid transparent;
}

/* FILTRES */
.conteneur_filtre
{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: flex-start;
    align-content: center;

}

.conteneur_filtre h2
{
    font-size: 2em;
    margin-bottom: 20px;
}

.conteneur_checkbox form
{
    display: flex;
    flex-flow: row wrap;
    height: fit-content;
    height: 300px;
}

.div_filtre
{
    display: flex;
    flex-flow: row nowrap;
    border: 3px solid #f2f2f2;
    font-size: 2em;
    font-weight: bold;
    border-radius: 50px;
    height: 100px;
    align-items: center;
    margin-right: 75px;
    margin-bottom: 20px;
}

.div_filtre i {
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50%;
    font-size: 1.5em;
    text-align: center;
    margin-right: 25px;
    margin-left: -25px;
    padding: 30px;
}

.div_filtre label{
    padding-right: 25px;
    text-align: center;
}

.conteneur_checkbox input{
    appearance: none;
    text-align: center;
}

/* INFO */
.icone_info
{
    margin-left: 5px;
    padding-bottom: 50px;
}
.icone_info i
{
    margin-right: 30px;
    color: #0065FC;
    border-radius: 50%;
    border: 3px solid #f2f2f2;
}

/* Populaire */
.conteneur_main{
    display: flex;
    flex-direction: column-reverse;
}

.conteneur_populaire{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f2f2f2;
    height: 1200px;
    padding: 10px;
    margin-bottom: 20px;
    align-items: center;

}

.populaire
{
    display: flex;
    background-color: white;
    border-radius: 20px;
    width: 90%;
    height: 300px;
    padding: 10px;
    margin-bottom: 20px;
}

.info_populaire
{
    width: 50%;
    font-size: 1em;
    padding-left: 5%;
    height: 100%;
    justify-content: flex-start;
}

.info_populaire p {
    margin-top: 0;
}

.info_populaire h3 {
    margin-bottom: 10px;
}

.etoile_populaire{
    justify-self: flex-start;
}

.img_populaire
{
    width: 45%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    position: relative;
}

#position_image
{
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.titre_populaire
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3em;
    width: 90%;
}




/* HEBERGEMENT */

.conteneur_hebergement
{
    display: flex;
    flex-direction: column;
    height: 3000px;
    padding: 10px;
    margin-top: 150px;
    margin-bottom: 20px;
    align-items: center;
}

.hebergement
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    width: 90%;
    height: 400px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 5px, 5px, 5px #f2f2f2;
}

.img_hebergements
{
    width: 100%;
    height: 45%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    position: relative;
}




.bleu
{
    color: #0065FC;
}

.gris
{
    color: #f2f2f2;
}