@font-face {
    font-family: 'Raleway';
    src: url(fonts/Raleway/Raleway-VariableFont_wght.ttf),;
    font-weight: normal;
    font-style: normal;
}

body
{
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin: 0;
    background: #FFFFFF;
}

a
{
    text-decoration: none;
    color: black;
    font-size: 1em;
}

#bloc_page
{
    width: 100%;
}

#contenu{
    width: 90%;
    margin: auto;
}

/* HEADER */
header
{
    height: 100px;
    margin-bottom: 40px;
}

nav
{
    height: 100%;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    list-style: none;
    padding: 0;
}

nav ul li 
{
    width: 50%;
    display: flex;
    margin-bottom: 10px;
}

.nav_haut
{
    height: 50%;
}

.nav_bas
{
    height: 45%;
    order: 2;

}

.nav_bas__a
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
    margin: auto;
    border-bottom: 3px solid #f2f2f2;
}

.nav_bas__a:hover
{
    color: #0065FC;
    border-color: #0065FC;
}

.a_inscription
{
    font-weight: bold;
    text-decoration: none;
    color: #0065FC;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10%;
}

.nav_haut__img
{
    margin-left: 10%;
}


/* RECHERCHE */
h1
{
    font-size: 1.5em;
}

#recherche > p
{
    margin-bottom: 30px;
}

/* FORM */

.conteneur_recherche form{
    display: flex;
    height: 50px;
    margin-bottom: 30px;
}

.conteneur_recherche form button
{
    height: 100%;
}

.conteneur_recherche form label
{
    display: flex;
    background-color: #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius:  15px;
    border-top: 2px solid #f2f2f2;
    border-left: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    width: 18%;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.conteneur_recherche form button
{
    background-color: #0065FC;
    width: 18%;
    height: auto;
    text-decoration: none;
    border-radius: 15px;
    color: white;
    border: none;
    font-size: 15px;
    margin-left: -15px;
}

.conteneur_recherche form input{
    width: 64%;
    height: 100%;
    font-size: 1em;
    font-weight: bold;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    padding-left: 10px;
    border-left: none;
    border-right: none;
}

/* FILTRES */
.conteneur_filtre
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    margin-bottom: 20px;

}

.conteneur_filtre > h2
{
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 15px;
}

.conteneur_checkbox form
{
    display: flex;
    flex-flow: row wrap;
}

.div_filtre
{
    display: flex;
    flex-flow: row nowrap;
    border: 3px solid #f2f2f2;
    font-weight: bold;
    border-radius: 50px;
    height: 50px;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.div_filtre i {
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50%;
    font-size: 1.5em;
    text-align: center;
    margin-right: 10px;
    margin-left: -15px;
    width: 25px;
    height: 25px;
    padding: 15px;
}

.div_filtre label{
    padding-right: 15px;
    text-align: center;
}

.conteneur_checkbox input{
    appearance: none;
    text-align: center;
}

/* INFO */

.conteneur_info
{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
}

.conteneur_info__p
{
    margin-top: 0;
    margin-bottom: 0;
}
.conteneur_info__i
{
    display: flex;
    width: 20px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #f2f2f2;
    margin: 0 5px 0 0;
    font-size: 0.7em;
}

.conteneur_info__i > i
{
    color: #0065FC;
    font-size: 1em;
    margin: auto;
}

/* Populaire */
.conteneur_main{
    display: flex;
    flex-direction: column-reverse;
}

.conteneur_populaire{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f2f2f2;
    align-items: center;
    padding-bottom: 30px;
    margin: 0 auto 20px auto;

}

.populaire
{
    display: flex;
    background-color: white;
    border-radius: 20px;
    width: 90%;
    height: 140px;
    padding: 5px;
    text-decoration: none;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.info_populaire
{
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
}

.info_populaire p {
    margin-top: 0;
}

.info_populaire h3 {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.etoile_populaire
{
    font-size: 0.7em;
    display: flex;
}

.etoile_hauteur
{
    height: 100%;
}

.etoile_populaire > i
{
    align-self: flex-end;
}

.img_populaire
{
    display: flex;
    justify-content: center;
    width: 40%;
    margin-right: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

.position_image
{
    width: 100%;
}

.titre_populaire
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.titre_populaire > i
{
    font-size: 1.5em;
}




/* HEBERGEMENT */

.conteneur_hebergement
{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}

.hebergements
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    width: 90%;
    height: 220px;
    margin-bottom: 20px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.img_hebergements
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}


.info_hebergement
{
    width: 100%;
    font-size: 1em;
    padding-left: 5%;
    height: 30%;
    justify-content: flex-start;
}

.info_hebergement p
{
    margin-top: 0;
    margin-bottom: 7px;
}

.info_hebergement h3
{
    margin-top: 10px;
    margin-bottom: 5px;
}

.conteneur_hebergement h2
{
    align-self: flex-start;
    padding-left: 10px;
}

#afficher
{
    font-size: 1.2em;
    align-self: flex-start;
    padding-left: 5%;
    font-weight: bold;
}
.bleu
{
    color: #0065FC;
}

.gris
{
    color: #f2f2f2;
}

/* ACTIVITE */

.conteneur_activite
{
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.activite
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    width: 90%;
    height: 200px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.img_activite
{
    display: flex;
    justify-content: center;
    height: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

#titre_activite
{
    padding-left: 5%;
}

.activite h3
{
    font-size: 1em;
    padding-left: 15px;
}

/* FOOTER */

footer
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #f2f2f2;
    padding: 20px 20px 20px 30px;
    font-size: 0.9em;
}

